.shop-component {
    margin-top: 100px;
    display: grid;
    grid-template-columns: 4fr 1fr
}

.book-component {
    background-color: rgb(21, 255, 0);
}
.price-component {
    background-color: aqua;
}